@import "color.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: $header-color;

    img {
      height: 60%;
      margin-left: 20px;
    }
}

main {
    background-color: $main-color;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 170px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: $header-color;

    img {
        width: 130px;
        height: 130px;
    }

    .title {
        font-size: 20px;
        
        font-weight: bold;
        color: white;
        margin: 10px;
    }
    .subtitle {
        color: gray;
    }
}