@import "color.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */ 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: $header-color;
    padding: 0 20px;
    img {
      height: 60%;
    }
    .select {
        outline: none;
        font-family: 'Nunito', sans-serif;
        font-size: 17px;
        padding: 2px;
        font-weight: 600;
        background-color: $header-color;
        color: $spotify-color;
        border: 2px solid black;
        border-radius: 5px;
    }
}
/* / header */ 

/* main */ 
main {
    background-color: $main-color;
    width: 100%;
    min-height: calc(100vh - 60px);
    font-family: 'Nunito', sans-serif;
}
/* components-cardList */
.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    height: 100%;
}
/* / components-cardList */

/* components-card */
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 170px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: $header-color;

    img {
        width: 130px;
        height: 130px;
    }

    .title {
        font-size: 20px;
        
        font-weight: bold;
        color: white;
        margin: 10px;
    }
    .subtitle {
        color: gray;
    }
}
/* / components-card */
/* / main */ 

/* loader */ 
.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    h1 {
        color: $spotify-color;
    }
    .bar {
        width: 10px;
        height: 70px;
        background: $main-color;
        display: inline-block;
        transform-origin: bottom center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        animation: loader 1.2s linear infinite;
    }
    .bar1 {
        animation-delay: 0.1s;
    }
    .bar2 {
        animation-delay: 0.2s;
    }
    .bar3 {
        animation-delay: 0.3s;
    }
    .bar4 {
        animation-delay: 0.4s;
    }
    .bar5 {
        animation-delay: 0.5s;
    }
    .bar6 {
        animation-delay: 0.6s;
    }
    .bar7 {
        animation-delay: 0.7s;
    }
    .bar8 {
        animation-delay: 0.8s;
    }
    @keyframes loader {
        0% {
            transform: scaleY(0.1);
        }
        50% {
            transform: scaleY(1);
            background: $spotify-color;
        }
        100% {
            transform: scaleY(0.1);
            background: transparent;
        }
    }
}
/* / loader */